    body {
        background-color: rgb(166, 175, 43);
        color: rgb(40, 70, 206);
    }
    
    #animation {
        animation-name: example;
        background-repeat: infinite;
        width: 50px;
        height: 100px;
    }
    
    h1 {
        width: 400px;
        height: 100px;
        background-color: red;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    
    @keyframes example {
        0% {
            background-color: goldenrod;
            left: 0%;
        }
        from {
            background-color: red;
        }
        to {
            background-color: yellow;
        }
    }
    
    #animation-demo {
        width: 200px;
        height: 150px;
        position: relative;
        background-color: #62A80A;
        line-height: 150px;
        color: #000;
        border: solid 1px #1A7404;
        text-align: center;
    }
    
    .animated {
        -webkit-animation-duration: 1.6s;
        animation-duration: 1.6s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
    
    @-webkit-keyframes rotateDown {
        0% {
            opacity: 1;
            -webkit-transform-origin: 0 0;
            -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0px);
        }
        100% {
            opacity: 0;
            -webkit-transform-origin: 50% 100%;
            -webkit-transform: perspective(800px) rotateX(-180deg) translateZ(300px);
        }
    }
    
    @keyframes rotateDown {
        0% {
            opacity: 1;
            transform-origin: 0 0;
            transform: perspective(800px) rotateX(0deg) translateZ(0px);
        }
        100% {
            opacity: 0;
            transform-origin: 50% 100%;
            transform: perspective(800px) rotateX(-180deg) translateZ(300px);
        }
    }
    
    .rotateDown {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: rotateDown;
        animation-name: rotateDown;
    }
    
    @media screen and(max-width: 400px) {}
    
    #footer {
        background-color: #ff0000;
        width: auto;
        height: 80px;
        margin: 200px 0px 0px 0px;
    }
    
    #footer>p {
        text-align: center;
        margin-top: 20px;
        color: rgb(71, 66, 66);
    }
    
    #footer>p>a {
        box-shadow: 5px 5px 5px 5px;
        text-decoration: none;
        color: white;
        justify-content: space-evenly;
    }
    
    i {
        color: #c0be42;
    }